.interna-contato {
  background: url("/img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

.contato {
  padding: 40px 0;
}

.contato_form {
  padding-right: 60px;
}

.contato_form label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  display: block;
  margin-bottom: 4px;
}

.contato_form input, .contato_form textarea {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  background: none;
  border: 4px solid #fec63d;
  display: block;
  margin-bottom: 10px;
  outline: none;
  padding: 7px;
  width: 100%;
}

.contato_form input:focus, .contato_form textarea:focus {
  border-color: #000;
}

.contato_form textarea {
  height: 120px;
  margin-bottom: 20px;
}

.contato_form button {
  background: none;
  padding: 7px 40px;
}

.contato-dados h3 {
  color: #fec63d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
}

.contato-dados span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
  display: block;
}

.contato-dados span:nth-of-type(3) {
  margin-top: 30px;
}

.contato-dados ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato-dados ul li {
  display: inline-block;
  margin-right: 10px;
}

.contato-dados ul li a {
  border: 3px solid #fec63d;
  display: block;
  width: 50px;
  height: 50px;
}

.contato-dados ul li a:hover {
  border-color: #000;
}

.contato-dados ul li a:hover img {
  filter: grayscale(100%) brightness(0);
}

.contato-mapa {
  margin-bottom: 60px;
}
