/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.subtitulo {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo:after {
  background: #000;
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
}

.btn {
  border: solid 3px #fec63d;
  color: #fec63d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn:hover {
  border-color: #fff;
  color: #fff;
}

.btn.btn-preto:hover {
  border-color: #000;
  color: #000;
}

/* Header */

.header {
  background: #fec63d;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}

.header_menu .menu-ativo a {
  color: #fff;
}

/* Introdução */

.introducao {
  background: url("/img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
  height: 380px;
}

.introducao h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  color: #fff;
  max-width: 400px;
  margin: 0 auto 40px auto;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Introdução Interna */

.introducao-interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  background: #fff;
  content: "";
  display: block;
  margin: 6px auto 10px auto;
  width: 60px;
  height: 3px;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: #fec63d;
  text-align: center;
}

.produtos-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.produtos-lista li h3:after {
  background: #000;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 2px auto;
}
.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icone {
  background: #000;
  padding: 20px;
}

.produtos-icone img {
  margin: 0 auto;
}

.call {
  clear: both;
  text-align: center;
  padding-top: 40px;
}

.call p {
  margin-bottom: 20px;
}

/* Portfólio */

.portfolio {
  background: #000;
  padding: 40px 0;
  width: 100%;
}

.portfolio .subtitulo {
  color: #fec63d;
}

.portfolio .subtitulo:after {
  background: #fec63d;
}

.portfolio-lista div:last-of-type {
  margin-top: 20px;
}

.portfolio .call p {
  color: #fff;
}

/* Qualidade */

.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 663px;
  height: 109px;
  display: block;
  background: url("/img/linhas.png");
  position: absolute;
  top: 202px;
  left: 149px;
  z-index: -10;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade-lista {
  overflow: hidden;
  padding-top: 30px;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 20px;
}

.qualidade-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.qualidade-lista li h3:after {
  background: #000;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 6px auto;
}

/* Quebra */

.quebra {
  width: 100%;
  height: 220px;
  background: url("/img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.quebra .quote-externo {
  max-width: 400px;
  padding-top: 40px;
}

/* Rodapé */

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fec63d;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63d;
  margin: 6px 0 12px 0;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  border: 3px solid #fec63d;
  display: block;
  width: 50px;
  height: 50px;
}

.footer-redes ul li a:hover {
  border-color: #fff;
}

.footer-redes ul li a:hover img {
  filter: grayscale(100%) brightness(10);
}

.copy {
  width: 100%;
  background: #fec63d;
  padding: 20px 0;
}
