/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.subtitulo {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo:after {
  background: #000;
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
}

.btn {
  border: solid 3px #fec63d;
  color: #fec63d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn:hover {
  border-color: #fff;
  color: #fff;
}

.btn.btn-preto:hover {
  border-color: #000;
  color: #000;
}

/* Header */

.header {
  background: #fec63d;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #FFF;
}

/* Introdução */

.introducao {
  background: url("/img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 96px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
  height: 380px;
}

.introducao h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  color: #fff;
  max-width: 400px;
  margin: 0 auto 40px auto;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: #fec63d;
  text-align: center;
}

.produtos-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.produtos-lista li h3:after {
  background: #000;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 2px auto;
}
.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icone {
  background: #000;
  padding: 20px;
}

.call {
  clear: both;
  text-align: center;
  padding-top: 40px;
}

.call p {
  margin-bottom: 20px;
}
