/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}

img {
  display: block;
  max-width: 100%;
}

.subtitulo {
  color: $black;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  @include tipo-1(24);
}

.subtitulo:after {
  background: $black;
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
}

.btn {
  border: solid 3px $cor-primaria;
  color: $cor-primaria;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all .5s ease;
  @include tipo-1(14);
}

.btn:hover {
  border-color: $white;
  color: $white;
}

.btn.btn-preto:hover {
  border-color: $black;
  color: $black;
}

/* Header */

.header {
  background: $cor-primaria;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: $black;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 10px 0;
  transition: all .5s ease;
  @include tipo-1(14);
}

.header_menu ul li a:hover {
  color: $white;
}

.header_menu .menu-ativo a {
  color: $white;
}

/* Introdução */

.introducao {
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
  height: 380px;
}

.introducao h1 {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  @include tipo-1(48);
}

.quote-externo {
  color: $white;
  max-width: 400px;
  margin: 0 auto 40px auto;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $white;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  @include tipo-1(14);
}

/* Introdução Interna */

.introducao-interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  padding: 30px 0;
  color: $white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introducao-interna h1 {
  font-weight: bold;
  text-transform: uppercase;
  @include tipo-1(36);
}

.introducao-interna h1:after {
  background: $white;
  content: "";
  display: block;
  margin: 6px auto 10px auto;
  width: 60px;
  height: 3px;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: $cor-primaria;
  text-align: center;
}

.produtos-lista li h3 {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 20px;
  @include tipo-1(18);
}

.produtos-lista li h3:after {
  background: $black;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 2px auto;
}
.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icone {
  background: $black;
  padding: 20px;
}

.produtos-icone img {
  margin: 0 auto;
}

.call {
  clear: both;
  text-align: center;
  padding-top: 40px;
}

.call p {
  margin-bottom: 20px;
}

/* Portfólio */

.portfolio {
  background: $black;
  padding: 40px 0;
  width: 100%;
}

.portfolio .subtitulo {
  color: $cor-primaria;
}

.portfolio .subtitulo:after {
  background: $cor-primaria;
}

.portfolio-lista div:last-of-type {
  margin-top: 20px;
}

.portfolio .call p {
  color: $white;
}

/* Qualidade */

.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 663px;
  height: 109px;
  display: block;
  background: url("../img/linhas.png");
  position: absolute;
  top: 202px;
  left: 149px;
  z-index: -10;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade-lista {
  overflow: hidden;
  padding-top: 30px;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 20px;
}

.qualidade-lista li h3 {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 20px;
  @include tipo-1(18);
}

.qualidade-lista li h3:after {
  background: $black;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 6px auto;
}

/* Quebra */

.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.quebra .quote-externo {
  max-width: 400px;
  padding-top: 40px;
}

/* Rodapé */

.footer {
  width: 100%;
  background: $black;
  color: $white;
  padding: 20px 0;
}

.footer h3 {
  color: $cor-primaria;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  @include tipo-1(18);
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-primaria;
  margin: 6px 0 12px 0;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li {
  @include tipo-2(14);
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  border: 3px solid $cor-primaria;
  display: block;
  width: 50px;
  height: 50px;
  transition: all .5s ease;
}

.footer-redes ul li a img{
  transition: all .5s ease;
}

.footer-redes ul li a:hover {
  border-color: $white;
}

.footer-redes ul li a:hover img {
  filter: grayscale(100%) brightness(1.25);
}

.copy {
  width: 100%;
  background: $cor-primaria;
  padding: 20px 0;
}

/* Animações */
.js .introducao h1, .js .introducao blockquote, .js .introducao .btn,
.js .animar, .js .animar-interno, .js .introducao-interna h1,
.js .introducao-interna p {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Formulário */
.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	margin-bottom: 10px;
  display: block;
  @include tipo-1(18);
}

#form-send {
	color: $success;
}

#form-erro {
	color: $error;
}
