*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$container: 960;
$gutter: 20;
$colunas: 16;

%grid {
  float: left;
  margin-left: ($gutter / 2) + px;
  margin-right: ($gutter / 2) + px;
}

@for $i from 1 through $colunas {
  $width: $container / $colunas * $i - $gutter;
  .grid-#{$i} {
    width: $width + px;
    @extend %grid;
  }
}

.grid-1-3 {
  width: ($container / 3) - $gutter + px;
  @extend %grid;
}

.container {
	width: $container + px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  $container: 768;

  @for $i from 1 through 16 {
    $width: $container / $colunas * $i - $gutter;
    .grid-#{$i} {
      width: $width + px;
    }
  }

  .grid-1-3 {
    width: ($container / 3) - $gutter + px;
  }

  .container {
    width: $container + px;
  }
}

@media only screen and (max-width: 767px) {
  $container: 300;

  .container {
    width: $container + px;
  }

  %mobile {
    width: $container + px;
    margin: 0 0 20px 0;
    float: none;
  }

  @for $i from 1 through 16 {
    .grid-#{$i} {
      @extend %mobile;
    }
  }

  .grid-1-3 {
    @extend %mobile;
  }
}
