.interna-produtos {
  background-image: url("../img/bg-produtos.jpg");
}

.produto-item {
  padding-top: 60px;
}

.produto-item h2 {
  color: $white;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -56px;
  position: relative;
  top: -180px;
  @include tipo-1(36);
  @include d(t) {
    top: -150px;
  }
  @include d(m) {
    top: -105px;
    margin-bottom: -68px
  }
}

.produto-item h2:after, .produto-item h2:before {
  content: "";
  background: $white;
  display: block;
  margin: 6px auto 8px auto;
  width: 60px;
  height: 3px;
}

.produto-icone {
  background: $black;
  height: 280px;
  padding: 75px 0;
  @include d(t) {
    height: 222px;
    padding: 41px 0;
  }
  @include d(m) {
    padding: 41px 0;
    height: 222px;
  }
}

.produto-icone img {
  margin: 0 auto;
}

.produto-info {
  background: $black;
}

.produto-info p {
  color: $white;
  height: 180px;
  padding: 30px 20px;
  @include tipo-2(18);
  @include d(t) {
    height: 122px;
    padding: 20px 30px;
    @include tipo-2(14);
  }
  @include d(m) {
    padding: 20px 30px;
    height: auto;
    @include tipo-2(14);
  }
}

.produto-info ul li {
  background: $cor-primaria;
  float: left;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
  width: 229px;
  height: 49px;
  @include tipo-1(18);
  line-height: 20px;
  @include d(t) {
    width: 181px;
    @include tipo-1(14);
  }
  @include d(m) {
    width: 149px;
    @include tipo-1(14);
  }
}

.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}

.produto-info ul li:nth-child(even) {
  margin-left: 1px;
}

.produto-info ul li:nth-child(odd) {
  margin-right: 1px;
}

/* Orçamento */

.orcamento {
  background: $black;
  margin-top: 60px;
  padding: 40px 0;
  width: 100%;
  @include d(m) {
    padding-right: 0;
  }
}

.orcamento h2 {
  color: $cor-primaria;
}

.orcamento h2:after {
  background: $cor-primaria;
}

.form {
  padding-right: 60px;
}

.form label {
  color: $white;
  display: block;
  margin-bottom: 4px;
  @include tipo-2(18);
}

.form input, .form textarea {
  color: $white;
  background: none;
  border: 4px solid $cor-primaria;
  display: block;
  margin-bottom: 10px;
  outline: none;
  padding: 7px;
  width: 100%;
  transition: all .5s ease;
  @include tipo-2(14);
}

.form input:focus, .form textarea:focus {
  border-color: $white;
}

.form textarea {
  height: 120px;
  margin-bottom: 20px;
}

.form button {
  background: none;
  padding: 7px 40px;
}

.orcamento-dados {
  color: $white;
}

.orcamento-dados h3 {
  color: $cor-primaria;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding-bottom: 10px;
  @include tipo-1(18);
}

.orcamento-dados span {
  display: block;
  @include tipo-2(18);
}

.orcamento-dados ul {
  margin-top: 10px;
  padding-right: 60px;
  @include d(m) {
    padding: 0px;
  }
}

.orcamento-dados ul li {
  padding: 10px 15px;;
  @include tipo-2(14);
}

.orcamento-dados ul li:nth-child(odd) {
  background: $gray;
}


.orcamento-dados ul li:before {
  content: "- "
}
