@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* Qualidade */
  .qualidade:after {
    left: 53px;
  }

  .qualidade-lista li {
    padding: 0 10px;
  }

  /* Footer */
  .footer-redes ul li a {
    width: 40px;
    height: 40px;
  }

  /* Produtos */
  .produto-item h2 {
    top: -150px;
  }

  .produto-icone {
    height: 222px;
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 20px 30px;
  }

  .produto-info ul li {
    width: 181px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  /* Headers */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    display: block;
    float: left;
    width: 136px;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  .header_menu ul li.menu-ativo a {
    border-color: #fff;
  }

  /* Introdução */

  .introducao {
    background-image: url('../img/bg-mobile.jpg');
    margin-top: 0;
    padding-top: 40px;
  }

  .introducao h1 {
    font-size: 36px;
  }

  /* Introdução Interna */

  .introducao-interna {
    margin-top: 0;
  }

  /* Call */
  .call {
    padding-top: 10px;
  }

  /* Qualidade */
  .qualidade:after {
    display: none;
  }

  /* Sobre */

  .missao-sobre p {
    padding-right: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .missao-sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

  /* Produtos */
  .produto-item h2 {
    top: -105px;
    margin-bottom: -68px
  }

   .produto-icone {
    padding: 41px 0;
    height: 222px;
  }


  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: auto;
  }

  .produto-info ul li {
    width: 149px;
    font-size: 14px;
    line-height: 20px;
  }

  /* Orçamento */
  .form {
    padding-right: 0;
  }

  .orcamento-dados ul {
    padding: 0px;
  }

  /* Contato */
  .contato_form {
    margin-bottom: 40px;
    padding-right: 0;
  }
}
