.btn {
  @include type-1(14);
  border: solid 3px $primary;
  color: $primary;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all .5s ease;
  text-decoration: none;

  &:hover {
    border-color: $white;
    color: $white;
  }
}

.btn--black:hover {
  border-color: $black;
  color: $black;
}
