.btn {
  @include type-1(14);
  border: solid 3px $color-primary;
  color: $color-primary;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all .5s ease;
  text-decoration: none;
  background: none;
  cursor: pointer;

  &:hover {
    border-color: $color-white;
    color: $color-white;
  }
}

.btn--black:hover {
  border-color: $color-black;
  color: $color-black;
}

.btn--larger {
  padding: 7px 40px;
}
