.call-to-action {
  clear: both;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;

  @include break('medium') {
    padding-top: 40px;
  }
}

.call-to-action__description {
  margin: 0 0 20px 0;
}

.call-to-action__description--white {
  color: $color-white;
}
