.footer {
  @include type-2(14);
  background: $color-black;
  color: $color-white;
  padding: 20px 0;
  width: 100%;
}


.footer__title {
  @include type-1(18);
  color: $color-primary;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;

  &:after {
    content: "";
    background: $color-primary;
    display: block;
    height: 3px;
    margin: 6px 0 12px 0;
    width: 60px;
  }
}

.footer__content {
  padding-right: 40px;
}

.footer__content--list {
  list-style: none;
  padding-left: 0;
}

.footer-copy {
  @include type-2(14);
  background: $color-primary;
  padding: 20px 0;
  width: 100%;
}

.footer-copy__content {
  margin-bottom: 0;
}

.footer-break {
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  height: 220px;
  padding-top: 40px;
  width: 100%;
}
