.header {
  background: $color-primary;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;

  @include break("medium") {
    position: fixed;
  }
}

.header__logo-link {
  display: block;
  margin: 0;
}

.header__logo {
  margin: 10px auto;

  @include break("medium") {
    margin: 15px 0;
  }
}

.header__nav {
  margin-bottom: 10px;
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @include break('medium') {
    text-align: right;
  }
}

.header__menu-item {
  display: inline-block;
  margin: 5px;

  @include break('medium') {
    margin-left: 25px;
    margin-top: 20px;
  }
}

.header__menu-link {
  @include type-1(14);
  border: 4px solid $color-black;
  color: $color-black;
  display: block;
  float: left;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;
  width: 136px;

  &:hover {
    border-color: $color-white;
    color: $color-white;
  }

  @include break('medium') {
    border: none;
    width: auto;
  }
}

.header__menu-link--active {
  border-color: $color-white;
  color: $color-white;
}
