.internal-intro {
  width: 100%;
  height: 160px;
  padding: 30px 0;
  color: $white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include break('medium') {
    margin-top: 92px;
  }
}

.internal-intro__title {
  @include type-1(36);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;

  &:after {
    background: $white;
    content: "";
    display: block;
    margin: 6px auto 10px auto;
    width: 60px;
    height: 3px;
  }
}

.internal-intro__description {
  @include type-2(14);
}

.internal-intro--about {
  background-image: url("../img/bg-sobre.jpg");
}

.internal-intro--products {
  background-image: url("../img/bg-produtos.jpg");
}

.internal-intro--portfolio {
  background-image: url("../img/bg-portfolio.jpg");
}

.internal-intro--contact {
  background-image: url("../img/bg-contato.jpg");
}
