.main-intro {
  background: url('../img/bg-mobile.jpg') no-repeat center;
  background-size: cover;
  height: 380px;
  padding-top: 40px;
  text-align: center;
  width: 100%;

  @include break('medium') {
    background-image: url("../img/bg.jpg");
    margin-top: 92px;
  }
}

.main-intro__title {
  @include type-1(36);
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;

  @include break('medium') {
    @include type-1(48);
  }
}
