.product-sheet {
  margin-top: 60px;
}

.product-sheet__title {
  @include type-1(36);
  color: $color-white;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: -67px;
  margin-top: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -105px;

  &:after,
  &:before {
    background: $color-white;
    content: "";
    display: block;
    height: 3px;
    margin: 6px auto 8px auto;
    width: 60px;
  }

  @include break('medium') {
    margin-bottom: -55px;
    top: -150px;
  }

  @include break('large') {
    top: -180px;
  }
}

.product-sheet__icon {
  background: $color-black;
  height: 222px;
  padding: 41px 0;

  img {
    margin: 0 auto;
  }

  @include break('large') {
    height: 280px;
    padding: 75px 0;
  }
}

.product-sheet__info-box {
  background: $color-black;
}

.product-sheet__info-description {
  @include type-2(14);
  color: $color-white;
  margin: 0;
  padding: 20px 30px;

  @include break('medium') {
    height: 122px;
  }

  @include break('large') {
    @include type-2(18);
    height: 180px;
    padding: 30px 20px;
  }
}

.product-sheet__info-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.product-sheet__info-list-item {
  @include type-1(14);
  background: $color-primary;
  float: left;
  font-weight: bold;
  height: 49px;
  line-height: 20px;
  padding-top: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 149px;

  &:nth-child(1), &:nth-child(2) {
    margin-bottom: 2px;
  }

  &:nth-child(even) {
    margin-left: 1px;
  }

  &:nth-child(odd) {
    margin-right: 1px;
  }

  @include break('medium') {
    width: 181px;
  }

  @include break('large') {
    width: 229px;
  }
}
