.quality {
  padding-bottom: 10px;

  &:after {
    @include break('medium') {
      content: "";
      width: 663px;
      height: 109px;
      display: block;
      background: url("../img/linhas.png");
      position: absolute;
      top: 163px;
      left: 53px;
      z-index: -10;
    }

    @include break('large') {
      left: 149px;
    }
  }
}

.quality__logo {
  margin: 0 auto;
}

.quality__list {
  overflow: hidden;
  padding-top: 30px;
  list-style: none;
  padding: 0;
  padding-top: 20px;
}

.quality__list-item {
  text-align: center;
  padding: 0 10px;
}

.quality__item-title {
  @include type-1(18);
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 20px;

  &:after {
    background: $black;
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px auto;
  }
}

.quality__item-description {
  @include type-2(14);
}


//   &:after {

//     @include d(t) {
//
//     }
//     @include d(m) {
//       display: none;
//     }
//   }

//   img {
//     margin: 0 auto;
//   }
// }

// .qualidade-lista {
//   overflow: hidden;
//   padding-top: 30px;

//   li {
//     text-align: center;
//     padding: 0 20px;
//     @include d(t) {
//       padding: 0 10px;
//     }
//   }

//   li h3 {
//     font-weight: bold;
//     letter-spacing: .1em;
//     text-transform: uppercase;
//     margin-top: 20px;
//     @include tipo-1(18);
//   }

//   li h3:after {
//     background: $black;
//     content: "";
//     display: block;
//     width: 60px;
//     height: 3px;
//     margin: 6px auto;
//   }
// }
