.quality {
  padding-bottom: 10px;

  &:after {
    @include break('medium') {
      background: url("../img/linhas.png");
      content: "";
      display: block;
      height: 109px;
      left: 53px;
      position: absolute;
      top: 163px;
      width: 663px;
      z-index: -10;
    }

    @include break('large') {
      left: 149px;
    }
  }
}

.quality__logo {
  margin: 0 auto;
}

.quality__list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 30px 0 0;
}

.quality__list-item {
  padding: 0 10px;
  text-align: center;
}

.quality__item-title {
  @include type-1(18);
  font-weight: bold;
  letter-spacing: .1em;
  margin-top: 20px;
  text-transform: uppercase;

  &:after {
    background: $color-black;
    content: "";
    display: block;
    height: 3px;
    margin: 6px auto;
    width: 60px;
  }
}

.quality__item-description {
  @include type-2(14);
}
