.section-title {
  @include type-1(24);
  color: $black;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;

  &:after {
    background: $black;
    content: "";
    display: block;
    margin: 8px auto;
    width: 60px;
    height: 3px;
  }
}

.section-title--primary {
  color: $primary;
}
