.section-title {
  @include type-1(24);
  color: $color-black;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;

  &:after {
    background: $color-black;
    content: "";
    display: block;
    height: 3px;
    margin: 8px auto;
    width: 60px;
  }
}

.section-title--primary {
  color: $color-primary;

  &:after {
    background: $color-primary;
  }
}

.section-title--align-left {
  text-align: left;

  &:after {
    margin-left: 0;
  }
}
