.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;

    &:first-child {
      position: relative;
      display: block;
      float: left;
    }
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    border: 0;
  }
}

.rslides_tabs {
  text-align: center;
  margin-top: 14px;

  li {
    display: inline;
    margin: 0 5px;
  }

  li a {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $gray;
    color: $primary;
    border-radius: 12px;
    overflow: hidden;
    text-indent: -200px;
    transition: all .5s ease;
  }

  li a:hover, li.rslides_here a {
    background: $primary;
    box-shadow: $primary 0 0 10px;
  }
}
