.rslides {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  li {
    -webkit-backface-visibility: hidden;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:first-child {
      display: block;
      float: left;
      position: relative;
    }
  }

  img {
    border: 0;
    display: block;
    height: auto;
    width: 100%;
  }
}

.rslides_tabs {
  margin-top: 14px;
  text-align: center;

  li {
    display: inline;
    margin: 0 5px;
  }

  li a {
    background: $color-gray;
    border-radius: 12px;
    color: $color-primary;
    display: inline-block;
    height: 12px;
    overflow: hidden;
    text-indent: -200px;
    transition: all .5s ease;
    width: 12px;
  }

  li a:hover, li.rslides_here a {
    background: $color-primary;
    box-shadow: $color-primary 0 0 10px;
  }
}
