<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Bikcraft - {{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bikcraft - Bicicletas Personalizadas"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:image" content="https://bikcraft.maxmaccari.com.br/img/og-image.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/style.css">
    <script src="js/modernizr.custom.45655.js"></script>
  </head>
  <body>
    {% include "partials/header.html" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.html" %}

    <!-- Javascript -->
    <script src="js/scripts.js"></script>
    <!-- Javascript -->
	</body>
</html>
