<div class="quebra">
  <blockquote class="quote-externo container">
    <p>
      “o verdadeiro segredo da felicidade está em ter um genuíno interesse
      por todos os detalhes da vida cotidiana.”
    </p>
    <cite>William Morris</cite>
  </blockquote>
</div>

<footer>
  <div  class="footer">
    <div class="container">
      <div class="grid-8 footer-historia">
        <h3>Nossa História</h3>
        <p>
          Quando iniciamos a Bikcraft queriamos apenas um produto que
          adoraríamos utilizar. Eramos apaixonados por pedalar e também por
          fazer as coisas com as nossas próprias mãos. Assim surgiu um sonho
          na garagem da nossa casa.
        </p>
      </div>
      <div class="grid-4 footer-contato">
        <h3>Contato</h3>
        <ul>
          <li>21 23456-5684</li>
          <li>contato@bikecraft.com</li>
          <li>Botafogo - RJ</li>
        </ul>
      </div>
      <div class="grid-4 footer-redes">
          <h3>Redes Sociais</h3>
          <ul>
            <li>
              <a href="https://twitter.com" rel="noopener noreferrer" target="_blank">
                <img src="img/redes-sociais/twitter.png" alt="Twitter Bikecraft">
              </a>
            </li>
            <li>
              <a href="https://instagram.com" rel="noopener noreferrer" target="_blank">
                <img src="img/redes-sociais/instagram.png" alt="Instagram Bikecraft">
              </a>
            </li>
            <li>
              <a href="https://facebook.com" rel="noopener noreferrer" target="_blank">
                <img src="img/redes-sociais/facebook.png" alt="Facebook Bikecraft">
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="copy">
    <div class="container">
      <p class="grid-16">
          Bikecraft 2019 - Alguns direitos reservados.
      </p>
    </div>
  </div>
</footer>
