<header class="header">
  <div class="l-container">
    <a href="index.html" class="header__logo-link l-grid-4">
      <img class="header__logo" src="img/bikcraft.png" alt="Bikcraft">
    </a>

    <nav class="header__nav l-grid-12">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a
            class="header__menu-link{% if currentPage == 'sobre' %} header__menu-link--active{% endif %}"
            href="sobre.html"
          >Sobre</a>
        </li>
        <li class="header__menu-item">
          <a
            class="header__menu-link{% if currentPage == 'produtos' %} header__menu-link--active{% endif %}"
            href="produtos.html"
          >Produtos</a>
        </li>
        <li class="header__menu-item">
          <a
            class="header__menu-link{% if currentPage == 'portfolio' %} header__menu-link--active{% endif %}"
            href="portfolio.html"
          >Portfólio</a>
        </li>
        <li class="header__menu-item">
          <a
            class="header__menu-link{% if currentPage == 'contato' %} header__menu-link--active{% endif %}"
            href="contato.html"
          >Contato</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
