<header class="header">
  <div class="container">
    <a href="index.html" class="grid-4">
      <img src="img/bikcraft.png" alt="Bikcraft">
    </a>

    <nav class="header_menu grid-12">
      <ul>
        <li {% if currentPage == 'sobre' %}class="menu-ativo"{% endif %}>
          <a href="sobre.html">Sobre</a>
        </li>
        <li {% if currentPage == 'produtos' %}class="menu-ativo"{% endif %}>
          <a href="produtos.html">Produtos</a>
        </li>
        <li {% if currentPage == 'portfolio' %}class="menu-ativo"{% endif %}>
          <a href="portfolio.html">Portfólio</a>
        </li>
        <li {% if currentPage == 'contato' %}class="menu-ativo"{% endif %}>
          <a href="contato.html">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
