.label {
  @include type-2(18);
  color: $black;
  display: block;
  margin-bottom: 4px;
}

.label--white {
  color: $white;
}

.input, .textarea {
  @include type-2(14);
  color: $black;
  background: none;
  border: 4px solid $primary;
  display: block;
  margin-bottom: 10px;
  outline: none;
  padding: 7px;
  width: 100%;
  transition: all .5s ease;

  &:focus {
    border-color: $black;
  }
}

.input--white, .textarea--white {
  color: $white;

  &:focus {
    border-color: $white;
  }
}

.textarea {
  height: 120px;
  margin-bottom: 20px;
}
