.contact-section {
  margin: 40px auto;

  @include break('medium') {
    margin-bottom: 20px;
    padding-right: 60px;
  }
}

.contact-form {
  @include break('medium') {
    padding-right: 60px;
  }
}

.contact-data__info {
  @include type-2(18);
  display: block;
}

.contact-data_info--break {
  margin-top: 30px;
}

.contact-map {
  margin-bottom: 60px;
}
