{% set title = "Conheça as linhas Passeio, Retrô e Esporte" %}
{% set description = "Compre a sua bicicleta personalizada na Bikcraft. Possuímos os modelos Passeio, Retrô e Esporte." %}
{% set url = "https://maxmaccari.github.io/bikcraft/produtos.html" %}
{% set currentPage = "produtos" %}

{% extends "layout.html" %}

{% block content %}
<section class="internal-intro internal-intro--products">
  <div class="l-container">
    <h1 class="internal-intro__title animate js-animate--first">
      Produtos
    </h1>
    <p class="internal-intro__description animate js-animate--second">
      conheça todos os nossos produtos
    </p>
  </div>
</section>

<section class="l-container produto-item animate js-animate--third">
  <div class="l-grid-11">
    <img src="img/produtos/bikcraft-passeio-1.jpg" alt="Bikcraft Passeio">
    <h2>Passeio</h2>
  </div>
  <div class="l-grid-5 produto-icone">
    <img src="img/produtos/passeio.png" alt="Passeio">
  </div>
  <div class="l-grid-8">
    <img src="img/produtos/bikcraft-passeio-2.jpg" alt="Bikcraft Passeio">
  </div>
  <div class="l-grid-8 produto-info">
    <p>
      Muito melhor do que passear pela orla a vidros fechados. A Bikcraft
      Passeio é uma bicicleta que une conforto e praticidade para o seu dia
      a dia. Você nunca mais vai querer saber de outra.
    </p>
    <ul>
      <li>Conforto</li>
      <li>Praticidade</li>
      <li>Design</li>
      <li>Versatilidade</li>
    </ul>
  </div>
</section>

<section class="l-container produto-item">
  <div class="l-grid-11">
    <img src="img/produtos/bikcraft-esporte-1.jpg" alt="Bikcraft Esporte">
    <h2>Esporte</h2>
  </div>
  <div class="l-grid-5 produto-icone">
    <img src="img/produtos/esporte.png" alt="Esporte">
  </div>
  <div class="l-grid-8">
    <img src="img/produtos/bikcraft-esporte-2.jpg" alt="Bikcraft Esporte">
  </div>
  <div class="l-grid-8 produto-info">
    <p>
      Mais rápida do que Forrest Gump, ninguém vai pegar você. A Bikcraft
      Esporte é uma bicicleta desenhada para a máxima performance. O seu
      desenpenho supera qualquer uma da categoria.
    </p>
    <ul>
      <li>Precisão</li>
      <li>Velocidade</li>
      <li>Design</li>
      <li>Versatilidade</li>
    </ul>
  </div>
</section>

<section class="container produto-item">
  <div class="l-grid-11">
    <img src="img/produtos/bikcraft-retro-1.jpg" alt="Bikcraft Retro">
    <h2>Retrô</h2>
  </div>
  <div class="l-grid-5 produto-icone">
    <img src="img/produtos/retro.png" alt="Retro">
  </div>
  <div class="l-grid-8">
    <img src="img/produtos/bikcraft-retro-2.jpg" alt="Bikcraft Retro">
  </div>
  <div class="l-grid-8 produto-info">
    <p>
      O passado volta para lembrarmos o que devemos fazer no futuro. A
      Bikcraft Retrô é uma bicicleta estiloza, feita para você que gosta do
      clássico, mas que não abre mão do conforto.
    </p>
    <ul>
      <li>Conforto</li>
      <li>Velocidade</li>
      <li>Design</li>
      <li>Versatilidade</li>
    </ul>
  </div>
</section>

<section class="orcamento">
  <div class="l-container">
    <h2 class="subtitulo">Orçamento</h2>

    <form action="#" method="post" name="form" class="formphp grid-8 form">
      <label for="nome">Nome</label>
      <input id="nome" name="nome" type="text">
      <label for="email">E-mail</label>
      <input id="email" name="email" type="text">
      <label for="telefone">Telefone</label>
      <input id="telefone" name="telefone" type="text">

      <label class="nao-aparece">Se você não é um robô, deixe em branco.</label>
      <input type="text" class="nao-aparece" name="leaveblank">
      <label class="nao-aparece">Se você não é um robô, não mude este campo.</label>
      <input type="text" class="nao-aparece" name="dontchange" value="http://" >

      <label for="mensagem">Especificações</label>
      <textarea name="mensagem" id="mensagem"></textarea>

      <button id="enviar" name="enviar" type="submit" class="btn">Enviar</button>
    </form>

    <div class="orcamento-dados l-grid-8">
      <h3>Dados</h3>
      <span>+55 21 93223 3232</span>
      <span>orcamento@bikcraft.com</span>

      <h3>Monte a sua Bikcraft</h3>
      <p>Escolha as especificações:</p>
      <ul>
        <li>Cores</li>
        <li>Estilo</li>
        <li>Medidas</li>
        <li>Acessórios</li>
        <li>E outros</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
