{% set title = "Conheça as linhas Passeio, Retrô e Esporte" %}
{% set description = "Compre a sua bicicleta personalizada na Bikcraft. Possuímos os modelos Passeio, Retrô e Esporte." %}
{% set url = "https://maxmaccari.github.io/bikcraft/produtos.html" %}
{% set currentPage = "produtos" %}

{% extends "layout.html" %}

{% block content %}
<section class="internal-intro internal-intro--products">
  <div class="l-container">
    <h1 class="internal-intro__title animate js-animate--first">
      Produtos
    </h1>
    <p class="internal-intro__description animate js-animate--second">
      conheça todos os nossos produtos
    </p>
  </div>
</section>

<section class="l-container product-sheet animate js-animate--third">
  <div class="l-grid-11">
    <img src="img/produtos/bikcraft-passeio-1.jpg" alt="Bikcraft Passeio">
    <h2 class="product-sheet__title">Passeio</h2>
  </div>
  <div class="l-grid-5 product-sheet__icon">
    <img src="img/produtos/passeio.png" alt="Passeio">
  </div>
  <div class="l-grid-8">
    <img src="img/produtos/bikcraft-passeio-2.jpg" alt="Bikcraft Passeio">
  </div>
  <div class="l-grid-8 product-sheet__info-box">
    <p class="product-sheet__info-description">
      Muito melhor do que passear pela orla a vidros fechados. A Bikcraft
      Passeio é uma bicicleta que une conforto e praticidade para o seu dia
      a dia. Você nunca mais vai querer saber de outra.
    </p>
    <ul class="product-sheet__info-list">
      <li class="product-sheet__info-list-item">Conforto</li>
      <li class="product-sheet__info-list-item">Praticidade</li>
      <li class="product-sheet__info-list-item">Design</li>
      <li class="product-sheet__info-list-item">Versatilidade</li>
    </ul>
  </div>
</section>

<section class="l-container product-sheet">
  <div class="l-grid-11">
    <img src="img/produtos/bikcraft-esporte-1.jpg" alt="Bikcraft Esporte">
    <h2 class="product-sheet__title">Esporte</h2>
  </div>
  <div class="l-grid-5 product-sheet__icon">
    <img src="img/produtos/esporte.png" alt="Esporte">
  </div>
  <div class="l-grid-8">
    <img src="img/produtos/bikcraft-esporte-2.jpg" alt="Bikcraft Esporte">
  </div>
  <div class="l-grid-8 product-sheet__info-box">
    <p class="product-sheet__info-description">
      Mais rápida do que Forrest Gump, ninguém vai pegar você. A Bikcraft
      Esporte é uma bicicleta desenhada para a máxima performance. O seu
      desenpenho supera qualquer uma da categoria.
    </p>
    <ul class="product-sheet__info-list">
      <li class="product-sheet__info-list-item">Precisão</li>
      <li class="product-sheet__info-list-item">Velocidade</li>
      <li class="product-sheet__info-list-item">Design</li>
      <li class="product-sheet__info-list-item">Versatilidade</li>
    </ul>
  </div>
</section>

<section class="l-container product-sheet">
  <div class="l-grid-11">
    <img src="img/produtos/bikcraft-retro-1.jpg" alt="Bikcraft Retro">
    <h2 class="product-sheet__title">Retrô</h2>
  </div>
  <div class="l-grid-5 product-sheet__icon">
    <img src="img/produtos/retro.png" alt="Retro">
  </div>
  <div class="l-grid-8">
    <img src="img/produtos/bikcraft-retro-2.jpg" alt="Bikcraft Retro">
  </div>
  <div class="l-grid-8 product-sheet__info-box">
    <p class="product-sheet__info-description">
      O passado volta para lembrarmos o que devemos fazer no futuro. A
      Bikcraft Retrô é uma bicicleta estiloza, feita para você que gosta do
      clássico, mas que não abre mão do conforto.
    </p>
    <ul class="product-sheet__info-list">
      <li class="product-sheet__info-list-item">Conforto</li>
      <li class="product-sheet__info-list-item">Velocidade</li>
      <li class="product-sheet__info-list-item">Design</li>
      <li class="product-sheet__info-list-item">Versatilidade</li>
    </ul>
  </div>
</section>

<section class="budget-section">
  <div class="l-container">
    <h2 class="section-title section-title--primary">Orçamento</h2>

    <form action="#" method="post" name="form" class="formphp l-grid-8 budget-form">
      <label class="label label--white" for="nome">Nome</label>
      <input class="input input--white" id="nome" name="nome" type="text">
      <label class="label label--white" for="email">E-mail</label>
      <input class="input input--white"  id="email" name="email" type="text">
      <label class="label label--white" for="telefone">Telefone</label>
      <input class="input input--white"  id="telefone" name="telefone" type="text">

      <label class="nao-aparece">Se você não é um robô, deixe em branco.</label>
      <input type="text" class="nao-aparece" name="leaveblank">
      <label class="nao-aparece">Se você não é um robô, não mude este campo.</label>
      <input type="text" class="nao-aparece" name="dontchange" value="http://" >

      <label class="label label--white" for="mensagem">Especificações</label>
      <textarea class="textarea textarea--white"  name="mensagem" id="mensagem"></textarea>

      <button id="enviar" name="enviar" type="submit" class="btn btn--larger">
        Enviar
      </button>
    </form>

    <div class="budget-data l-grid-8">
      <h3 class="section-subtitle">Dados</h3>
      <span class="budget-data__info">+55 21 93223 3232</span>
      <span class="budget-data__info">orcamento@bikcraft.com</span>

      <h3 class="section-subtitle">Monte a sua Bikcraft</h3>
      <p>Escolha as especificações:</p>
      <ul class="budget-data__list">
        <li class="budget-data__list-item">Cores</li>
        <li class="budget-data__list-item">Estilo</li>
        <li class="budget-data__list-item">Medidas</li>
        <li class="budget-data__list-item">Acessórios</li>
        <li class="budget-data__list-item">E outros</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
