/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}



/* Introdução Interna */

.introducao-interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  padding: 30px 0;
  color: $white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include d(m) {
    margin-top: 0;
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    @include tipo-1(36);

    &:after {
      background: $white;
      content: "";
      display: block;
      margin: 6px auto 10px auto;
      width: 60px;
      height: 3px;
    }
  }
}

/* Qualidade */

.qualidade {
  padding: 60px 0;

  &:after {
    content: "";
    width: 663px;
    height: 109px;
    display: block;
    background: url("../img/linhas.png");
    position: absolute;
    top: 202px;
    left: 149px;
    z-index: -10;
    @include d(t) {
      left: 53px;
    }
    @include d(m) {
      display: none;
    }
  }

  img {
    margin: 0 auto;
  }
}

.qualidade-lista {
  overflow: hidden;
  padding-top: 30px;

  li {
    text-align: center;
    padding: 0 20px;
    @include d(t) {
      padding: 0 10px;
    }
  }

  li h3 {
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-top: 20px;
    @include tipo-1(18);
  }

  li h3:after {
    background: $black;
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px auto;
  }
}

/* Animações */
.js .introducao h1, .js .introducao blockquote, .js .introducao .btn,
.js .animar, .js .animar-interno, .js .introducao-interna h1,
.js .introducao-interna p {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Formulário */
.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	margin-bottom: 10px;
  display: block;
  @include tipo-1(18);
}

#form-send {
	color: $success;
}

#form-erro {
	color: $error;
}
