/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}

/* Animações */
.js .introducao h1, .js .introducao blockquote, .js .introducao .btn,
.js .animar, .js .animar-interno, .js .introducao-interna h1,
.js .introducao-interna p {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Formulário */
.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	margin-bottom: 10px;
  display: block;
  @include tipo-1(18);
}

#form-send {
	color: $success;
}

#form-erro {
	color: $error;
}
