//-----------
//-- Grids --
//-----------
%grid-structure {
  width: 100%;
  margin: 0 0 20px 0;

  @include break('medium') {
    float: left;
    min-height: 1px;
    margin: 0;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
  }
}

@for $i from 1 through $cols {
  .l-grid-#{$i} {
    @extend %grid-structure;
    @include break('medium') {
      width: grid-size($i);
    }
  }
}

.l-grid-1-3 {
  @extend %grid-structure;
  @include break('medium') {
    width: ($break-medium / 3) - $gutter + px;
  }
  @include break('large') {
    width: ($break-large / 3) - $gutter + px;
  }
}

//--------------
//-- Offsets --
//--------------
@for $i from 1 through $cols {
  .l-offset-#{$i} {
    @include break('medium') {
      margin-left: grid-size($i, 'offset');
    }
  }
}


//---------------
//-- Container --
//---------------
.l-container {
  @include container;
}

//---------
//-- Row --
//---------
.l-row {
  @include row;
}
